version: '3.8'

services:
  app_book:
    container_name: my-api-challenge
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always